* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


.logo {
    width: 12vw;
    margin-left: 2vw;
}

/* .btnBurger{
    border: none;
    color: transparent;
    pointer-events: all;
}

.btnBurger:hover{
    transform: scale(1.1);
} */

header{
    background: white;
    height: 15vh;
}

nav{
    position: fixed;
    width: 100%;
    background:white;
    z-index: 100;
}

section[id]{
    scroll-margin-top: 22vh;
}



.containerMenuBurger {
    display: flex;
    flex-direction: column;

}

.menu-burger {
    width: 7.5vw;
    margin-right: 2vw;
}

.bar-btn {
    position: relative;
    top: 0.5vh;
    right: 2vw;
    text-align: right;
}

.navBurger {
    background: white;
    list-style: none;
    position: fixed;
    text-align: center;

    top: 15vh;
    right: 5vw;
    z-index: 20;
    border-radius: 4px;
    padding: 2vw;
    width: 30vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.navBurger li {
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBurger li:hover{
    background: #413D3D;
    color: white;
    transform: scale(1.1);
    transition: all 0.8s;


}

.navBurger li a {
    text-decoration: none;
    color: #413D3D;
    padding: 1vh;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 17px;
    width: 100%;
 
}

.navBurger li a:hover {
    color: white
}

#check{
    display: none;
}

#check:checked ~ .navBurger {
    display: none ;
   
}

.menu-chico {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}




.navAll {
    display: none;
}

.barra-top {
    width: 100%;
    height: 2.5vh;
    background-color: #413D3D;
    color: #413D3D;
    margin-bottom: 1vh;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    box-shadow: 20px 4px 20px rgba(65, 61, 61, 0.9);
}

.habilidades {
    color: #413D3D;
    text-align: center;
    margin-bottom: 5vh;
}

.pfTitulo {
    width: 80%;
    left: 84px;
    top: 23px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 6vw;
    line-height: 17px;
    /* identical to box height */

    text-align: center;
    /* Color Secundario */

    color: #413D3D;
}

hr {
    margin: 1.5vh 0;
    border: 1px solid #E5E4E4;
    padding: 0;
    /* box-shadow: 8px 2px 5px rgba(65, 61, 61, 0.5);
    transform: rotate(-0.24deg); */
}

.foto-perfil {
    width: 22vw;
    height: 16vw;
    border-radius: 100%;
    transform: scaleX(-1);
    margin-right: 4vw;
    object-fit: cover;

}

.resumen {
    display: flex;
    width: 100%;
    margin-left: 8vw;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 1.7rem;
    /* letter-spacing: 0.05em; */
    /* Color Secundario */
    color: #413D3D;
}

.content-resumen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    margin-top: 4vh;;
}

.blue {
    color: #114B83;
}

.hero-styles {
    /* color: var(--secondary); */
    color: #413D3D;
}


footer {
    width: 100%;
    background-color: #413D3D;
    z-index: -2;
    color: white;
    position: relative;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
    position: relative;
    top: -0;

}

.footer-container {
    padding: 1.2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4vh;

}

.footer-container p {
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
    text-align: center;
}

.top {
    text-align: right;
    position: relative;
    left: 25%;
}

.up-arrow {
    width: 12vw;
    /* background-color:#000 */
}

.btn-hab {
    text-align: center;
    margin: 5vw
}

.btn-container {
    text-align: center;
    margin: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    margin: 2vw;
    width: 20vw;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    text-decoration: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 9px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #114B83;
    color: #114B83;

}

.btn:hover {
    transform: scale(1.1);
}

.btn-img {
    width: 4vw;
    margin-left: 1vw;
}

.btn-btn {
    background-color: white;
    color: #413D3D;
    width: 20vw;
    margin: 2vw;
    border: 0;
    padding: 1.8vw;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 12px;
    text-align: center;
}

.experiencia {
    color: #fff;
    text-align: center;
    /* padding: 20vh; */

}

.exp {
    width: 100%;
    height: auto;
    /* left: -1px;
    top: 544px; */

    /* Azul */
    background: #114B83;
}


.trianguloEquilatero {
    height: 24px;
    border-right: 98vw solid #114B83;
    border-top: 78px solid transparent;
    margin-bottom: 5vh;
}

#particles-js {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    /* background-color: #000 */
    z-index: -2;
}

.trianguloInvertido {

    /* background: #fff; */
    border-left: 49vw solid #114B83;
    border-right: 49vw solid #114B83;
    border-top: 10vh solid transparent;
    /* border-bottom: 33vh solid transparent; */
    /* transform: rotate(90deg);*/
}

.trianguloInvertido2 {

    background: #114B83;
    border-left: 49vw solid #fff;
    border-right: 49vw solid #fff;
    border-top: 44vh solid transparent;
    /* border-bottom: 33vh solid transparent; */
    /* transform: rotate(90deg);*/
}

.contExp {
    margin-left: 4vw;

}

.anio {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 5vw;
    line-height: 3vh;
    /* identical to box height */
    text-align: left;
    /* Contraste */
    color: #F7D732;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 4.3vw;
    line-height: 5vh;
    /* identical to box height */

    text-align: left;

    color: #FFFFFF;
}

.descriptionEx {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 3vw;
    line-height: 2.5vh;
    color: #FFFFFF;
    padding-bottom: 2.5vh;
}

.containerPDP {
    width: 100%;
    margin: 0 0 0 7vw;
    padding: 0;
}

.containerFondoPDP {
    width: 90%;
    height: auto;
    background: #413D3D;
    position: relative;
    top: -25vh;
    /* border-top-right-radius: 100%; */
    border-radius: 0px 30vh;
    /* padding: 3vw; */
}

.portProyect {
    width: 86%;
    color: #fff;
    text-align: center;
    padding-top: 10vh;
}

.contPort {
    /* border: 2px solid white; */
    margin: 12vw 7vw;
}

.contPortTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 17px;
    /* height:200px; */
    /* identical to box height */
    margin-bottom: 2vh;

    text-align: left;

    color: #FFFFFF;
}

.imgPortafolio {
    width: 76vw;
    border-radius: 14px;
}

.pPortafolio {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 4.2vw;
    line-height: 3.4vh;
    /* or 110% */

    text-align: center;
    margin-top: 2vh;

    /* Fondo */
    color: #FFFFFF;
    margin-bottom: 7vh;
}

.pLink {
    color: #F7D732;
    text-decoration: none;
}

.containerContacto {
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contactoTitle {
    width: 100%;
    color: #413D3D;
    text-align: center;
    position: relative;
    top: -26vh;
    z-index: 16;
}

.form {
    display: flex;
    flex-direction: column;
    /* background: black; */
    /* margin: 10%; */
    width: 60vw;
    background: #fff;
    border: 2px solid #114B83;
    border-radius: 14px;
    padding: 7vw;
    position: relative;
    top: -24vh;
}

.labelContact {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3vw;
    line-height: 12px;

    /* Azul */
    color: #114B83;

    padding: 2.5vw;
}

.inputContact {
    /* width: 26vw; */
    /* margin-left: 50vw; */
    height: 4vh;
    border: 2px solid #114B83;
    border-radius: 4px;
    filter: drop-shadow(5px 8px 1px rgba(0, 0, 0, 0.25));
}


.textAreaContact {
    /* width: 16vw;
    margin-left: 10vw; */
    border: 2px solid #114B83;
    border-radius: 4px;
    filter: drop-shadow(5px 8px 1px rgba(0, 0, 0, 0.25));
}

.btnContact {
    width: 18vw;
    height: 4vh;
    left: 96px;
    top: 2716px;
    background: transparent;
    color: #114B83;
    border: 1.8px solid #114B83;
    border-radius: 4px;
    margin: 7vw 35% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}

.btnContact img {
    width: 3vw;
    margin-left: 1vw;
}

.btnContact:hover {
    background: #413D3D;
    color: #fff;
    transform: scale(1.2);
}



@media screen and (min-width: 600px) { 

    .anio{
        font-size: 3.8vw;
    }

    .title{
        font-size: 3.8vw;
    }

    .descriptionEx{
        font-size: 2.3vw;
    }

    .pPortafolio{
        font-size: 3.2vw;
    }
}




@media screen and (min-width: 768px) {
    .logo {
        width: 5vw;
    }
    .pfTitulo{
        font-size: 3vw;
        text-align: left;
        margin-left: 10vw;;
    }

    nav{
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;

    }

    nav ul li {
        margin: 2.5vh;
        list-style: none;

    }

    nav ul li a {
        text-decoration: none;
        font-size: 20px;
        color: rgb(100, 95, 95);
        font-family: 'Roboto', sans-serif;
    }



    .menu-burger {
        display: none;
    }

    #check:checked ~ .navBurger {
        display: flex ;
    }

    .navBurger {
        background: blue;
        position: initial;
        text-align: center;
        
        top: 0;
        right: 0;
        z-index: 20;
        border-radius: 0;
        padding: 0;
        width: 0;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    }
    
    
    .navBurger li a {
        font-size: 1.6vw;
    }
    
    .content-resumen{
        height:36vh;
    }

    .resumen{
        line-height: 4vw;
        font-size: 3vw;
    }

    .foto-perfil{
        height:15vw;
        margin-right: 12vw;
    }



    .btn {
        margin: 1vw 3vw;
        width: 14vw;
        padding: 0.5vw;
        border-radius: 14px;
        font-size: 2vw;
    }
    
    .btn-img {
        width: 2.4vw;
    }
    
    .habilidades {
        font-size: 3vw;
    }

    .btn-btn {
        width: 16vw;
        padding: 1.6vw;
        font-size: 2.4vw;
        line-height: 16px;
    }

    .experiencia {
        font-size: 3vw;
        padding-bottom: 4vh;
    }


    .portProyect{
        font-size:3vw;
    }


    .anio {
        font-size: 2.5vw;
        line-height: 5vh;
    }
    
    .title {
        font-size: 2.5vw;
        line-height: 9vh;
    }
    
    .descriptionEx {
        font-weight: 200;
        font-size: 2vw;
        line-height: 5vh;
        padding-bottom: 6vh;
        margin-right: 6vw;
    }

    .contPortTitle{
        font-size: 3vw;
        padding: 1.5vw;
    }

    .pPortafolio{
        font-size: 2.6vw;
        line-height: 6vh;
    }

    .portProyect {
        padding-top: 18vh;
        font-size: 4.5vw;

    }

    .containerFondoPDP {
        top: -18vh;
    }

    .contPort {
        margin: 8vw 7vw;
    }

    .contactoTitle{
        font-size: 3vw;
    }
   
   .labelContact{
    font-size: 1.6vw;
    padding:1.2vw;
   }

   .inputContact{
    height: 4vh;
   }

   .btnContact{
    width: 12vw;
    height: 6vh;
    margin: 3vw 39% 0;
   }

   .btnContact img{
    width: 2.4vw;
   }

   .form{
    padding: 2vw;
    width:46%
   }

   .footer-container{
    padding: 4vh;
   }

   footer{
    top: 0vh;
   }

   .containerContacto{
    position: relative;
    top:12vh;
   }

}